body {
	transition: background-color .2s ease;
	
	&.theme-night {
		color: rgba(255, 255, 255, 0.87); // text-color
		background-color: #121212; // surface-b

		.stock-table tr {
			&.row-due-soon {
				background-color: #FFE082 !important; 
				color: #121212;
			}

			&.row-expired {
				background-color: #F48FB1 !important;
				color: #121212;
			}

			&.row-overdue {
				background-color: #78909C !important;
				color: #fff;
			}

			&.row-on-shoppinglist {
				background-color: #81D4FA !important;
				color: #121212;
			}
		}

		.layout-footer {
			background-color: #1e1e1e; // surface-a
		}

		.user-settings-menu {
			> li {
				> a {
					border-top: 1px solid $menuitemDarkBorderColor;
				}

				&:last-child {
					> a {
						border-bottom: 1px solid $menuitemDarkBorderColor;
					}
				}

				ul {
					background-color: $menuitemDarkActiveBgColor;
				}
			}

			li {
				a {
					color: $menuitemDarkColor;

					&.router-link-active {
						color: $menuitemDarkActiveColor;
					}

					&:hover {
						color: $menuitemDarkHoverColor;
					}
				}

				&.active-menuitem {
					> a {
						background-color: $menuitemDarkActiveBgColor;
						color: $menuitemDarkActiveColor;
					}
				}
			}
		}
	}

	&.theme-day {
		.stock-table tr {
			&.row-due-soon {
				background-color: adjust-color(#fbc02d, $lightness: 30%) !important; // yellow 500
			}

			&.row-expired {
				background-color: adjust-color(#D32F2F, $lightness: 30%) !important;
			}

			&.row-overdue {
				background-color: adjust-color(#607D8B, $lightness: 30%) !important;
			}

			&.row-on-shoppinglist {
				background-color: adjust-color(#0288D1, $lightness: 50%) !important;
			}
		}

		.user-settings-menu {
			> li {
				> a {
					border-top: 1px solid $menuitemBorderColor;
				}

				&:last-child {
					> a {
						border-bottom: 1px solid $menuitemBorderColor;
					}
				}

				ul {
					background-color: $menuitemActiveBgColor;
				}
			}

			li {
				a {
					color: $menuitemColor;

					&.router-link-active {
						color: $menuitemActiveColor;
					}

					&:hover {
						color: $menuitemHoverColor;
					}
				}

				&.active-menuitem {
					> a {
						background-color: $menuitemActiveBgColor;
						color: $menuitemActiveColor;
					}
				}
			}
		}
	}
}

.layout-logo img {
	max-width: 80%;
	max-height: 7.5rem;
}

.p-text-help {
	color: $textSecondaryColor;
}

#userSettingsDropDown {
	width: 100%;
	@media screen and (min-width: $md) {
		width: 370px;
	}
}


.layout-menu-button {
	&:focus {
		@include focused-inset();
	}
	img {
		max-width: 100px;
		float: left;
		margin-top: -50px;
		margin-left: 20px;
		transition: opacity .2s ease-out;
    	opacity: 0;

		&.showing {
			opacity: 1;
		}
	}
	span {
		display: block;
		float: left;
	}
	
	width: 80px;
	clear: left;
}

.layout-topbar-icons .p-link {
	&:focus {
		@include focused-inset();
	}
}

.layout-headerclock {
	float: left;
	font-size: 20px;
}

.p-card.with-title-addon .p-card-title span {
	font-size: 80%;
    color: #777;
}

.filter-buttons button {
	margin-right: .5rem;
}

.product-context-menu {
	width: 22rem !important;
}

.row-due-soon {
	background-color: #fbc02d; // yellow 500
	color: #212529;
}

// this needs to get its own sass file FAST.
.recipes-list {
	.recipe-image {
		background-size: cover;
		background-position: center center;
	}
	cursor: pointer;
}
.p-dataview-grid {
	.p-dataview-content > .p-grid {
		display: block;
		column-count: 1;
		@media screen and (min-width: $sm) {
			column-count: 2;
		}
		column-gap: .5rem;
		orphans: 1;
		widows: 1;
	}

	.recipes-masonry {
		display: inline-block;
		cursor: pointer;
	}

	&::before,
	&::after {
	content: "";
	flex-basis: 100%;
	width: 0;
	order: 2;
	}
}

.recipe-display, .recipes-fullscreen .p-dialog-header {
	.recipe-image {
		min-height: 20rem;
		background-size: cover;
		background-position: center center;
	}
}

.ingredient-group-list, .ingredient-list {
	list-style-type: none;
	padding-left: 0;
}

.ingredient-list li {
	border-bottom: 1px solid #eee;
	padding-bottom: 1rem;
}

.recipes-fullscreen {
	.p-dialog-header {
		display: block; // no icons, no flex need
	}
}