/* General */
$fontSize:14px;
$bodyBgColor:#edf0f5;
$textColor:#333333;
$textSecondaryColor:#707070;
$borderRadius:3px;
$dividerColor:#e3e3e3;
$transitionDuration:.2s;
$maskBgColor:#424242;
$focusShadowColor:#a0ff8d;

/* Menu Common */
$menuitemBadgeBgColor:#2a602c;
$menuitemBadgeColor:#ffffff;
$submenuFontSize:13px;
$menuitemActiveRouteColor:#bbebb1;

/* Menu Light */
$menuBgColorFirst:#f3f4f9;
$menuBgColorLast:#d7dbe8;
$menuitemColor:#242823;
$menuitemHoverColor:#2a602c;
$menuitemActiveColor:#2a602c;
$menuitemActiveBgColor:#ffffff;
$menuitemBorderColor:rgba(210, 224, 207, 0.6);

/* Menu Dark */
$menuDarkBgColorFirst:#585f56;
$menuDarkBgColorLast:#414741;
$menuitemDarkColor:#ffffff;
$menuitemDarkHoverColor:#4CAF50;
$menuitemDarkActiveColor:#bbebb1;
$menuitemDarkActiveBgColor:#2f352e;
$menuitemDarkBorderColor:rgba(54, 65, 52, 0.6);

/* Topbar */
$topbarLeftBgColor:#4CAF50;
$topbarRightBgColor:#6ebe71;
$topbarItemBadgeBgColor:#ef6262;
$topbarItemBadgeColor:#ffffff;
$topbarItemColor:#ffffff;
$topbarItemHoverColor:#ccfbc3;
$topbarSearchInputBorderBottomColor:#ffffff;
$topbarSearchInputColor:#ffffff;

/* Footer */
$footerBgColor:#ffffff;